@mixin htwt($ht, $wt: $ht) {
  height: $ht;
  width: $wt;
}
@mixin centerImg($image-url) {
  background-image: url("../../images/" + $image-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$text-color: #ffffff;
$text-color-pink: #f7d7c8;
$text-color-grey: #999999;
$text-color-link: #d7cce5;

* {
  margin: 0;
  padding: 0;
  //   box-sizing: border-box;
}

body {
  background: black;
  color: $text-color;
  font-family: Merriweather, serif !important;
}
div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10rem;
}
nav {
  display: none;
}

div.img {
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section-1 {
  width: 100%;
  align-items: center;
  h2,
  h5 {
    color: $text-color-pink;
    margin: 1rem 0;
  }
  h2 {
    font-size: 4.5rem;
    font-weight: 400;
  }
  h5 {
    font-weight: 400;
    font-size: 1.25rem;
    font-family: Ubuntu, sans-serif !important;

    word-wrap: break-word;
    position: relative;
  }
  div.img {
    @include htwt(340px);
    @include centerImg("pexels-photo-8832583.jpeg");
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: justify;
    word-wrap: break-word;

    color: $text-color-grey;
    padding: 0 12rem;

    font-family: "Open Sans", sans-serif;
  }
}
#section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;

  h1,
  h4,
  p,
  a {
    margin: 1rem 2rem;
  }

  .left {
    h1 {
      color: $text-color-pink;
      font-weight: 700;
      font-size: 3rem;
      line-height: 1.1;
    }
    h4 {
      color: $text-color;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.2;
      font-family: Roboto, sans-serif;
      letter-spacing: 4px;
      margin-right: 80%;
    }
  }
  .right {
    h4 {
      color: $text-color-pink;
      font-family: Ubuntu, sans-serif !important;
      letter-spacing: 0px;
      line-height: 1.4;
      font-size: 1.25rem;
      font-weight: 700;
    }
    p {
      font-size: 1rem;
      line-height: 2;
      font-weight: 400;
      font-family: "Open Sans", sans-serif !important;
    }
    a {
      text-decoration: none;
      border-style: none;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: "Open Sans", sans-serif !important;
      padding: 0;
      color: $text-color;

      &:hover {
        color: $text-color-pink;
      }
    }
  }
}
#section-3 {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 10rem;
  h2,
  hr,
  p,
  h5 {
    text-align: center;
  }
  h2 {
    font-weight: 700;
    font-size: 4.5rem;
    font-family: "Playfair Display", serif !important;
  }
  hr {
    margin: 4rem 0;
  }
  p {
    font-family: Merriweather, serif;
    font-size: 3rem;
    line-height: 1.6;
    font-weight: 700;
    color: $text-color-pink;
  }

  h5 {
    letter-spacing: 2px;
    font-weight: 700;
    color: $text-color-pink;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Ubuntu, sans-serif !important;
  }
}
#section-4 {
  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
  }

  > div > div.img-container {
    border-radius: 10%;
    transition: 100ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    &:hover {
      border-radius: 0;
      //   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }

    img {
      background: red;
      @include htwt(22rem);
    }
  }
}
#section-6 {
  div.img {
    @include htwt(198px);
    @include centerImg("pexels-photo-8789212.jpeg");
  }
}

footer {
  background-color: #333333;
  margin-top: 3rem;
  .top,
  .btm {
    padding: 2rem 35%;
  }
  .top {
    padding-top: 3rem;
    p {
      font-size: 0.875rem;
      font-family: "Open Sans", sans-serif;
      line-height: 1.6;
      text-align: center;
    }
  }
  .btm {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.6;

    a {
      color: $text-color-link;
    }
  }
}
