@mixin htwt($ht, $wt: $ht) {
  height: $ht;
  width: $wt;
}
@mixin centerImg($image-url) {
  background-image: url("../../images/" + $image-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$text-color: #ffffff;
$text-color-pink: #f7d7c8;
$text-color-grey: #999999;

* {
  margin: 0;
  padding: 0;
  //   box-sizing: border-box;
}

body {
  background: black;
  color: $text-color;
  font-family: Merriweather, serif !important;
}
div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10rem;
}
nav {
  display: none;
}

div.img {
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section-1 {
  width: 100%;
  align-items: center;
  h2,
  h5 {
    color: $text-color-pink;
    margin: 1rem 0;
  }
  h2 {
    font-size: 4.5rem;
    font-weight: 400;
  }
  h5 {
    font-weight: 400;
    font-size: 1.25rem;
    font-family: Ubuntu, sans-serif !important;

    word-wrap: break-word;
    position: relative;
  }
  div.img {
    @include htwt(340px);
    @include centerImg("pexels-photo-8832583.jpeg");
  }
  p {
    font-weight: 300;
    text-align: justify;

    color: $text-color-grey;
    padding: 0 12rem;

    font-family: "Open Sans", sans-serif;
  }
}
#section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;

  .left {
    h1 {
      color: $text-color-pink;
    }
    h4 {
      color: $text-color;
    }
  }
  .right {
    h4 {
      color: $text-color-pink;
    }
  }
}
#section-4 {
  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
  }

  > div > div.img-container {
    border-radius: 10%;
    transition: 100ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    &:hover {
      border-radius: 0;
      //   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }

    img {
      background: red;
      @include htwt(22rem);
    }
  }
}
#section-6 {
  div.img {
    @include htwt(198px);
    @include centerImg("pexels-photo-8789212.jpeg");
  }
}

footer {
  background-color: #333333;
}
