* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: #ffffff;
}

div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10rem;
}

nav {
  display: none;
}

div.img {
  border-radius: 50%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-1 div.img {
  height: 340px;
  width: 340px;
  background-image: url("../../images/pexels-photo-8832583.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section-4 > div > div.img-container {
  border-radius: 10%;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#section-4 > div > div.img-container:hover {
  border-radius: 0;
}

#section-4 > div > div.img-container img {
  background: red;
  height: 22rem;
  width: 22rem;
}

#section-6 div.img {
  height: 198px;
  width: 198px;
  background-image: url("../../images/pexels-photo-8789212.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #333333;
}
